 * {
    box-sizing: unset !important;
 }

 .mainButtonDivs {
     width: 40%;
     margin: 1% auto;
     padding: 0.5% 0%;
     display: flex;
     justify-content: space-around;
 }

 .mainButtons {
    width: 100%;
    display: inline-block;
    background-color: #4CAF50;
    border: 0.1em solid #4CAF50;
    border-radius:0.25em;
    box-sizing: border-box;
    margin: 0% 1%;
    padding: 1% 0%;
    text-align: center;
    transition: all 0.2s;
    min-width: 100px;
 }

 .mainButtons:hover {
    background-color: white;
    border: 0.1em solid #4CAF50;
    color: black;
 }
 
 .box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    }
  
  .dead {
    background-color: lightgray;
  }
  
  .alive {
    background-color: green;
  }
    
  .box:hover { 
    background: #00CCFF;
  }
  
  .center {
    margin: auto;
    display: table;
    margin-top: 10px;
  }
  
  .gameContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .gamebox{
    display: flex;
    flex-direction: column;
    min-width: 500px;
  }

  .preSelectButtonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 2.5%;
  }

  .preSelectButtons {
    display: inline-block;
    background-color: #4CAF50;
    padding: 5% 20%;
    border: 0.1em solid #4CAF50;
    margin-bottom: 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
    min-width: 200px;
    min-height: 10px;
  }

  .preSelectButtons:hover{
      background-color: white;
      border: 0.1em solid #4CAF50;
      color: black;
  }

  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px gray;
    margin-top: 20px;
    box-sizing: unset !important;
  }

  .generationsControl {
    display: flex;
    align-items: baseline;
}

.generationCtrlButton {
    background-color: #4CAF50;
    border: 0.1em solid #4CAF50;
    margin: 1% auto;
    padding: 3%;
    min-width: 25px;
    border-radius:0.12em;
    text-align:center;
    transition: all 0.2s;
  }

  .generationCtrlButton:hover{
    background-color: white;
    border: 0.1em solid #4CAF50;
    color: black;
}

  .controlDiv {
    box-shadow: 0px 0px 15px gray;
    width: 15%;
    padding: 0.5% 1%;
    margin: 0 auto;
  }

  .controlsWrapper {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 2% auto;
  }

  .controlsButtons {
    display: inline-block;
    background-color: #4CAF50;
    border: 0.1em solid #4CAF50;
    border-radius:0.12em;
    padding: 2% 5%;
    transition: all 0.2s;
  }

  .controlsButtons:hover{
    background-color: white;
    border: 0.1em solid #4CAF50;
    color: black;
  }

  .resetDimensionButton {
    display: inline-block;
    background-color: #4CAF50;
    padding: 2.5% 10%;
    border: 0.1em solid #4CAF50;
    margin: 0% 5%;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
  }

  .resetDimensionButton:hover{
      background-color: lightgray;
  }

  .boardControlDiv {
    display: flex;
    justify-content: center;
  }

  .rulesDiv {
      width: 60%;
      margin: 5% auto;

  }

  .ruleHeader {
      font-size: 25px;
      width: 100%;
      text-align: left;
    }
    
    .rulesText {
        margin-top: 5px;
        font-size: 22px;
  }
    
h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 18.72px !important;
}
h4 {
  font-size: 16px !important;
  margin-top: 0px;
}